<!DOCTYPE html>
<html>
<head>
  <title>Vaccination Appointment</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  <div class="container">
    <h1 class="text-dark">Hello </h1>
    <h1>Book your vaccination appointment</h1>

    <form id="bookingForm">
      <label for="appointmentDate">Choose your appointment date:</label>
      <input type="date" id="appointmentDate" name="appointmentDate" required>
      <input type="submit" value="Book Appointment">
    </form>
  </div>

  <script src="./scripts.js"></script>
</body>
</html>
